@model IList<ChannelResponse>

@{
    ViewData["Title"] = "Channels";
}

<div class="text-center">
    
    
    @foreach (var channel in Model)
    {
        <p>Channel @channel.Name was created at [@channel.createdAt]</p>
    }
</div>
